[submodule "redundant--app-client"]
	path = redundant--app-client
	url = https://github.com/FernandWTF/redundant--app-client
[submodule "redundant-app-server"]
	path = redundant-app-server
	url = https://github.com/FernandWTF/redundant-app-server
